
.form {
    height: 584px;
    width: 50%;
    height: 100%;
    margin-bottom: 220px;
    padding-left: 84px;
    background-color: @primaryTextColor;

    &__title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: #font-sizes[title];
    }

    &--feedback {
        margin-bottom: 0;

    }

    &__field {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin-top: 5px;
        padding: 24px;
        border: none;
        border-radius: 10px;
        width: 460px;
        height: 66px;
        font-size: #font-sizes[medium];
        background-color: @inputColor;
        color: @inputTextColor;

        &--text-area {
            margin-bottom: 0;
            border-radius: 0;
            height: 327px;
            color: @primaryTextColor;
        }

        &--checkbox {
            margin-top: 14px;
            margin-bottom: 16px;
            margin-right: 5px;
            background-color: @inputCheckboxColor;
        }

        &__label {
            margin-bottom: 9px;
            font-size: #font-sizes[medium];
            color: @labelTextColor;

            &--checkbox {
                font-weight: #font-weights[light];
                font-size: #font-sizes[medium];
            }

            &--link {
                color: @inputTextColor;
                font-weight: #font-weights[light];
                text-decoration: underline;
            }
        }
    }
}