.info {
    color: @primaryTextColor;
    padding: 16px;
    margin-bottom: 24px;

    &__title {
        font-size: #font-sizes[medium];
        margin-bottom: 16px;
    }

    &__text {
        font-size: #font-sizes[regular];
    }
}
